section#services
{
	padding-bottom: 60px;

	.service-container
	{
		@media (min-width: 576px)
		{
			width: 50%;
		}

		@media (min-width: 992px)
		{
			width: 33.33333333%;
		}

		a
		{
			color: #666f77;
			display: block;
			opacity: 0.80;

			&:hover,
			&:focus
			{
				text-decoration: none;
				opacity: 1.00;
			}

			article.service
			{
				border: $border-colour solid 1px;
				border-radius: 6px;
				padding: 30px;
				margin-bottom: 20px;
				text-align: center;

				.image-container
				{
					margin-bottom: 30px;

					i
					{
						color: #fff;
						background: #31ACB4;
						width: 85px;
						height: 85px;
						font-size: 28px;
						line-height: 85px;
						border-radius: 50%;
						box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144,144,144,0.25);
					}
				}

				.title-container
				{
					margin-bottom: 20px;

					h3
					{
						text-transform: uppercase;
						font-size: 20px;
						line-height: 30px;
						letter-spacing: 2.5px;
					}
				}

				.introduction-container
				{
					p
					{
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
		}
	}
}

section#services-details
{
	padding-bottom: 60px;

	.service-container
	{
		article.service
		{
			padding-top: 50px;

			.title-container
			{
				margin-bottom: 20px;

				h3
				{
					text-transform: uppercase;
					font-size: 20px;
					line-height: 30px;
					letter-spacing: 2.5px;
				}
			}

			.introduction-container
			{
				margin-bottom: 20px;
			}

			.bullets-container
			{
				ul.service-bullets
				{
					margin: 0px;
					padding: 0px;
					list-style: none;

					li
					{
						padding: 10px 0px;
						border-bottom: $border-colour solid 1px;
					}
				}
			}
		}
	}
}
