     <footer id="footer">
            <div class="container">
                <div class="row double">
                    <div class="6u">
                        <div class="row collapse-at-2">
                            <div class="6u">
                                <h3>Links</h3>
                                <ul class="alt">
                                    <li><a href="/about.html">About Us</a></li>
                                    <li><a href="/team.html">Meet The Team</a></li>
                                    <li><a href="/contact.html">Pricing</a></li>
                                    <li><a href="/#services">Services</a></li>
                                    <li><a href="/jobs.html">PHP Developer Jobs</a></li>
                                </ul>
                            </div>
                            <div class="6u">
                                <h3>Case Studies</h3>
                                <ul class="alt">
                                    <li>Coming Soon!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u">
                        <h2>About Delagio</h2>
                        <p>Delagio has expertise in enterprise web development. We work either from our office, or onsite to suit our clients' needs. Get in touch today for a no obligation quote.</p>
                        <ul class="icons">
                            <li><a href="https://twitter.com/delagio_limited" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/delagio" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://github.com/bobbydeveaux" class="icon fa-instagram"><span class="label">GitHub</span></a></li>
                            <li><a href="https://www.linkedin.com/company/delagio" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="copyright">
                    <li>&copy; 2017 All Rights Reserved.</li>
                    <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                    <li>Delagio Limited is a company registered in England and Wales with Company No.10165828 and VAT No.240 5852 19</li>
                    <li>&nbsp;</li>
                </ul>

            </div>
        </footer>
    </body>
</html>
