     <footer id="footer">
            <div class="container">
                <div class="row double">
                    <div class="6u">
                        <div class="row collapse-at-2">
                            <div class="6u">
                                <h3>Links</h3>
                                <ul class="alt">
                                    <li><a href="/services.html">Services</a></li>
                                    <li><a href="/packages.html">Packages</a></li>
                                    <li><a href="/contact.html">Pricing</a></li>
                                    <li><a href="/about.html">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u">
                        <h2>About WhiteTree HR</h2>
                        <p>WhiteTree HR offer a range of services to compliment your business. Whether you want to ensure you are legally compliant, streamline your processes, develop your strategic HR, or need advice and assistance with your every day operational HR, White Tree HR is here for you</p>
                        <ul class="icons">
                            <li><a href="https://twitter.com/whitetreehr" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/whitetreehr" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://github.com/whitetreehr" class="icon fa-instagram"><span class="label">GitHub</span></a></li>
                            <li><a href="https://www.linkedin.com/company/whitetreehr" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="copyright">
                    <li>&copy; 2016-2018 All Rights Reserved.</li>
                    <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                    <li>DVO Consulting Limited t/a WhiteTree HR is a company registered in England and Wales with Company No.10165828 and VAT No.240 5852 19</li>
                    <li>&nbsp;</li>
                </ul>

            </div>
        </footer>
    </body>
</html>
