@@include('./_head.html', {
    "title": "About",
    "name": "about"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>About Us</h2>
        <p>Let us tell you more.</p>
    </header>
    <div class="container">
        <section>
            <h2>Experience Counts</h2>

            <p>White Tree HR was founded by Stephanie DeVeaux in 2016. Stephanie has 12 years experience as a HR Generalist working for a wide variety of companies from Start Ups &amp; SME’s to large national, international and global companies. She has worked within a number of industries from Manufacturing to Legal, Government to SME’s and local businesses.</p>

            <p>During her time in HR, Stephanie has headed up a number of HR projects, worked closely with a variety of HR Systems and integrated extensively within businesses at both an Operational and Strategic level. She provides business Managers and the board with a comprehensive and professional HR service along with ensuring companies work within current employment legislation and to best practice standards. </p>
        </section>
    </div>
</section>


@@include('./_foot.html')