@@include('./_head.html', {
    "title": "About",
    "name": "about"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>About Us</h2>
        <p>Let us tell you more.</p>
    </header>
    <div class="container">
        <section>
            <h2>Experience Counts</h2>

            <p>White Tree HR was founded by Stephanie DeVeaux in 2016. Stephanie has 12 years experience as a HR Generalist working for a wide variety of companies from Start Ups &amp; SME’s to large national, international and global companies. She has worked within a number of industries from Manufacturing to Legal, Government to SME’s and local businesses.</p>

            <p>During her time in HR, Stephanie has headed up a number of HR projects, worked closely with a variety of HR Systems and integrated extensively within businesses at both an Operational and Strategic level. She provides business Managers and the board with a comprehensive and professional HR service along with ensuring companies work within current employment legislation and to best practice standards. </p>
        </section>
        <hr class="major" />
        <section>
            <h2>Services</h2>

            <p>WhiteTree HR offer a range of services to compliment your business. Whether you want to ensure you are legally compliant, streamline your processes, develop your strategic HR, or need advice and assistance with your every day operational HR, White Tree HR is here for you. We will work with you to allow your business to thrive and develop. 
            </p>
        </section>
        <hr class="major" />
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>Operational HR</h3>
                    <ul>
                        <li>Employee Handbook</li>
                        <li>Policies and Procedures</li>
                        <li>Terms and Conditions and employee contracts</li>
                        <li>Absence Management</li>
                        <li>Disciplinary and Grievance</li>
                        <li>Recruitment and Resourcing</li>
                        <li>Reward Management</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>Strategic HR</h3>
                    <ul>
                        <li>Talent management </li>
                        <li>Mergers and Acquisitions (Inc. TUPE)</li>
                        <li>Management Training</li>
                        <li>Organisational Structure</li>
                        <li>Redundancy</li>
                        <li>Employee engagement</li>
                        <li>Management Development</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>HR Data Analysis and HR Systems</h3>
                    <ul>
                        <li>Employee Information Management and Storage</li>
                        <li>Key Performance Indicators (KPI’s)</li>
                        <li>Management Information (MI)</li>
                        <li>Data Analysis and Reporting</li>
                        <li>Weekly, Monthly, Quarterly, annual reporting packages </li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>HR Administration</h3>
                    <ul>
                        <li>Policies and procedures  </li>
                        <li>Employee Handbook</li>
                        <li>Data entry</li>
                        <li>Letters</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <hr class="major" />
        <section>
            <h2>Packages</h2>
            <p>
                We offer a free consultation to discuss your HR requirements.. We will be with you, communicate, guide and support you through the entirety of our working relationshp. 
            </p>
            <p>
                We offer our HR services via the following packages: 
            </p>
            <ul>
                <li>Hourly Rate. This can be bought in blocks of 4. Discount for multiple blocks purchased</li>
                <li>Daily Rate. Available Onsite or Remotely. Prices vary depending on requirements. </li>
                <li>Pay as you go rates on an hourly basis </li>
                <li>Projects – Fees based on estimate of whole project length </li>
                <li>Packages – All standard policies and procedures for your Handbook to comply with </li>employment Legislation as well as a copy of standard terms and conditions for your employees. These will be reviewed and maintained and updated when any new employment legislation is released </li>
                <li>Monthly Management Information Reporting packages. </li>
                <li>Ad hoc – if you have any requirement which you don’t think fits into the above, please contact us and we will be happy to accommodate. </li>
            </ul>
        </section>
    </div>
</section>


@@include('./_foot.html')