@@include('./_head.html', {
    "title": "About",
    "name": "about"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>About Us</h2>
        <p>Let us tell you more.</p>
    </header>
    <div class="container">
        <section>
            <h2>Experience Counts</h2>

            <p>Delagio are experts in our field, this is largely due to the extensive experience of our developers. We've been coding websites and applications for many years. Working for a variety of corporate and bluechip companies, as well as smaller web development studios and in house development teams, we have seen it all. Our developers have mentored, coached and managed development teams which is immensly useful when recruiting new developers. The talent at Delagio is second to none, and no one is afraid to introduce new technologies and push the boundaries even further.</p>

            <h2>What can we do for you?</h2>

            <p>At Delagio we offer wide range of services ranging from bespoke software development, right through to on-site development and coaching. We can also manage your servers, migrate services into the cloud, improve server security and even performance benchmark your sites. Whatever you require, get in touch and we can give you a personalised quote.</p>
        </section>
        <hr class="major" />
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/gogopher.png" alt="" /></a>
                    <h3>Built using Go</h3>
                    <p>This site is built using Google Go (or Golang if you prefer) and is using a responsively designed theme. The page load time on a development machine is approximately 5ms, which is crazy fast compared to most websites out there, that's largely thanks to Go having great performance - some have measure it to be up to 1000x faster than some other languages. Some companies are saving thousands of pounds on server architecture by building performant systems. To see how Delagio can help speed up your website or web application click below.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/varnish.png" alt="" /></a>
                    <h3>Cached with Varnish</h3>
                    <p>Delag.io also uses Varnish as a caching layer to help serve its users' quicker, in addition to a content delivery network to serve static files. All in all, this website is a demonstration as to how a website should be; it's fast, reliable and easy to use. To see how Delagio can help speed up your website or web application click below.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')