@@include('./_head.html', {
    "title": "Contact Us",
    "name" : "contact"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Contact Us</h2>
        <p>Please fill out the form below.</p>
    </header>
    <div class="container">
        <section>
            <p class="large-text">Tell us about your business. How can we help? Do you want a quote? Whatever your message, we'd love to hear from you.</p>
            <a name="form"></a>
            <form method="post" class="contact-form" id="contact-form">
                <input type="text" name="name" placeholder="Please tell us your name :)" required />
                <input type="email" name="email" placeholder="What's your email address?" required/>
                <input type="tel" pattern="\d*" name="contactNumber" placeholder="What number is best to call you on?" required />
                <textarea name="content" rows="7">Ask us anything!</textarea>
                <select name="heardvia">
                    <option value="search-engine">Search Engine</option>
                    <option value="referral">Referral</option>
                    <option value="word-of-mouth">Word of Mouth</option>
                </select>
                <fieldset>
                    <legend>What would you like to know more about?</legend>
                        <input id="chkBespoke" name="require[bespoke]" type="checkbox" value="website" />
                        <label for="chkBespoke">Bespoke Website Development</label>
                        <br />
                        <input id="chk2" name="require[performantscalable]" type="checkbox" value="performant-scalable" />
                        <label for="chk2">Performant Scalable Software</label>
                        <br />
                        <input id="chk3" name="require[affiliate]" type="checkbox" value="affiliate-integration" />
                        <label for="chk3">Affiliate Integration</label>
                        <br />
                        <input id="chk4" name="require[crm]" type="checkbox" value="crm-systems" />
                        <label for="chk4">CRM Systems</label>
                        <br />
                        <input id="chk5" name="require[leadgen]" type="checkbox" value="lead-gen" />
                        <label for="chk5">Lead Generation</label>
                        <br />
                        <input id="chk6" name="require[ecommerce]" type="checkbox" value="e-commerce" />
                        <label for="chk6">E-Commerce</label>
                        <br />
                        <input id="chk7" name="require[aws-consultancy]" type="checkbox" value="aws-consultancy" />
                        <label for="chk7">Amazon Cloud Consultancy</label>
                        <br />
                        <input id="chk8" name="require[responsive]" type="checkbox" value="responsive" />
                        <label for="chk8">Responsive Website Design</label>
                        <br />
                        <input id="chk9" name="require[seo]" type="checkbox" value="seo" />
                        <label for="chk9">SEO</label>
                        <br />
                        <input id="chk10" name="require[ppc]" type="checkbox" value="ppc" />
                        <label for="chk10">PPC</label>
                        <br />
                        <input id="chk11" name="require[outsourced]" type="checkbox" value="outsourced" />
                        <label for="chk11">Outsourced Devlopment</label>
                        <br />
                        <input id="chk12" name="require[other]" type="checkbox" value="other" />
                        <label for="chk12">Other</label>
                </fieldset>
                <input type="submit" value="Send Message" />
            </form>
            <p>Looking for our number? Call us on <a href="tel:+441158240605">0115 824 0605</a>.
        </section>
    </div>
</section>



@@include('./_foot.html')