@@include('./_head.html', {
    "title": "Contact Us",
    "name" : "contact"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Contact Us</h2>
        <p>Please fill out the form below.</p>
    </header>
    <div class="container">
        <section>
            <p class="large-text">Tell us about your business. How can we help? Do you want a quote? Whatever your message, we'd love to hear from you.</p>
            <a name="form"></a>
            <form method="post" class="contact-form" id="contact-form">
                <input type="text" name="name" placeholder="Please tell us your name" required />
                <input type="email" name="email" placeholder="What's your email address?" required/>
                <input type="tel" pattern="\d*" name="contactNumber" placeholder="What number is best to call you on?" required />
                <textarea name="content" rows="7">Ask us anything!</textarea>
                <select name="heardvia">
                    <option value="how">How did you hear about us?</option>
                    <option value="search-engine">Search Engine</option>
                    <option value="referral">Referral</option>
                    <option value="word-of-mouth">Word of Mouth</option>
                </select>
                <input type="submit" value="Send Message" />
            </form>
            <p>Looking for our number? Call us on <a href="tel:+447833492482">07833 492482</a>.
            <p>Alternatively, <a href="mailto:contact@whitetreehr.co.uk">send us an email</a>.
        </section>
    </div>
</section>



@@include('./_foot.html')