@@include('./_head.html', {
    "title": "Home - Delagio",
    "name": "index"
})

<section id="banner">
    <div class="inner">
        <h2>DEVOPS &amp CLOUD TRANSFORMATION</h2>
        <p>We show you how it's done.</p>
        <ul class="actions">
            <li><a href="/contact.html" class="button big special">Get Quote</a></li>
            <li><a href="/about.html" class="button big alt">Learn More</a></li>
        </ul>
    </div>
</section>


<a name="services" ></a>
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Simple solutions</h2>
        <p>To solve your complex problems.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>Cloud Migration Strategy</h3>
                    <p>Migrating to the cloud? Need some help? We have all the tools to show you how, and put the best plan into place to ensure you get the best result possible.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Performant Scalable Software</h3>
                    <p>Do you need an application that will work across the web 24/7? Do you need unrivalled performance and reliability? Delagio is experienced in creating first class architecture in the cloud and can design and build bespoke software for your needs.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>Bespoke Database Systems</h3>
                    <p>Does your business need to streamline its processes? Databases provide a great way to manage your information and can also allow you to create reports to gain valueable business insights, utlimately cutting costs and increasing profitability.</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>CRM Systems</h3>
                    <p>Do you keep your contacts organised? Can you email them easily? With a CRM from Delagio you will be able manage your contacts easily, and integrate into your email system with ease.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Lead Generation</h3>
                    <p>Are you looking for more clients? We are able to provide you with software to find more leads and target specific industries. If you also use our CRM &amp; email offerings, you can tie these services together for the ultimate lead generation tool.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>E-Commerce Websites</h3>
                    <p>Do you want to start selling online? Do you want to improve your existing online store? We can help you.</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>AWS Hosting Partners</h3>
                    <p>Delagio are a registered Amazon Consulting Partner. We can build an array of services within Amazon Web Services, including Load Balancing, Auto Scaling and Route53 DNS, as well as a host of other services. If you require hosting expertise or need someone to help ensure your website can cope with varying traffic levels, get in touch.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Responsive Website Design</h3>
                    <p>Looking to improve your website? Wanting to improve your brand image? We are able to create amazing looking websites that work across all devices including desktops, MacBooks, tablets &amp; phones. Not only that, but we use the latest technology to build a website with solid foundations.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>Affiliate Integration</h3>
                    <p>Are you looking to integrate your website with a third party? Do you need assistance integrating your checkout with affiliate network tracking technology? Delagio has years of experience dealing with integrations and can get your site tracking sales very quickly.</p>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>Dedicated Account Manager</h3>
                    <p>With Delagio, you will have a dedicated Account Manager who will respond to your each and every request. You won't need to worry about any requests going into a black hole. We look forward to helping our clients through the entire developments process.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Out of hours Support</h3>
                    <p>Do you have business critical services? What would the cost to your business be if your services stopped working for two hours? Delagio can offer 24/7/365 support to clients, ensuring that someone is always on hand to get your service up and running as quickly as possible.</p>
                </section>
            </div>
            <!--div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>PPC</h3>
                    <p>Do you have any Facebook adverts? Have you ever tried to promote your website through Google AdWords? At Delagio we have years of experience with online marketing, including pay per click campaigns. If you'd like to promote your brand and gain further exposure, we can help through the use of PPC.</p>
                </section>
            </div-->
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>SEO</h3>
                    <p>Search Engine Optimisation - we've all heard of this mysterious acronym. Do you know what it means? Are you able to increase your website ranking on Google? We have access to some of the industries leading tools to help propel your website up the search engine rankings to drive more traffic to your website.</p>
                </section>
            </div>
        </div>

    </div>
</section>


<section id="two" class="wrapper style2">
    <header class="major">
        <h2>Case Studies</h2>
        <p>Our clients love what we do.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/tclick.png" alt="" /></a>
                    <h3>TargetClick</h3>
                    <p>TargetClick run a number of high quality affiliate networks. They asked Delagio to improve their technology, and at the same time implement latest development practices to help the business grow.</p>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/easyjet3.png" alt="" /></a>
                    <h3>EasyJet</h3>
                    <p>EasyJet is a well known brand and they required a custom datafeed system to allow them to distribute their five million holiday packages across to their partners. They now have a nightly distribution.</p>
                </section>
            </div>
        </div>
    </div>
</section>


<section id="three" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <h2>Industry news</h2>
                    <a href="#" class="image fit"><img src="/dist/images/pic03.jpg" alt="" /></a>
                    <h2>Amazon Goes Into the Handyman Business</h2>
                    <p>Amazon is testing the local services waters by connecting customers with professionals who can assemble, set up, install and repair home appliances. Initially limited to three metropolitan areas, Amazon plans to expand both the geography and the variety of its local services in the future. This could be a boon for SMBs -- or they could find themselves firmly under Amazon's thumb. <a rel="nofollow" href="http://www.ecommercetimes.com/story/Amazon-Goes-Into-the-Handyman-Business-81417.html">Read More</a></p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <h3>SEO Services</h3>
                    <p>Delagio can analyse your website and suggest improvements to help you rank higher. Maybe you would like to try out Google Adwords or run a Facebook campaign? Let us know as we can help in all aspects of PPC activity.</p>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Contact Us</a></li>
                    </ul>
                </section>
                <hr />
                <section>
                    <h3>Recent Articles</h3>
                    <ul class="alt">
                        <li>Coming Soon!</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')