@@include('./_head.html', {
    "title": "Home",
    "name": "index"
})

<section id="banner">
    <div class="inner">
        <h2>INNOVATIVE, BESPOKE &amp; DILIGENT HR SOLUTIONS</h2>
        <p>We show you how it's done.</p>
        <ul class="actions">
            <li><a href="/contact.html" class="button big special">Get Quote</a></li>
            <li><a href="/about.html" class="button big alt">Learn More</a></li>
        </ul>
    </div>
</section>


<a name="services" ></a>
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Welcome to WhiteTree HR Consultancy</h2>
        <p>To solve your HR problems.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>Operational HR</h3>
                    <p>Assisting businesses with the day to day management of their HR. Including, Employment Law, Absence Management, Policies and Procedure, HR Documentation, HR Systems, Employee Relations, Recruitment, Redundancy, Performance and Appraisals, Employee Relations.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Strategic HR</h3>
                    <p>Working with businesses on Talent Management, Reward Management, Employee Engagement and Retention, Organisational Structure, Acquisitions and Mergers including TUPE.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>Project HR</h3>
                    <p>Collaborating with businesses on HR projects within their organisations, working with you from concept to completion. DVO HR can also review projects, analyse and improve existing projects or aid development of ongoing projects within the business.</p>
                </section>
            </div>
        </div>
        

        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>Dedicated Account Manager</h3>
                    <p>With Delagio, you will have a dedicated Account Manager who will respond to your each and every request. You won't need to worry about any requests going into a black hole. We look forward to helping our clients through the entire developments process.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Out of hours Support</h3>
                    <p>Do you have business critical services? What would the cost to your business be if your services stopped working for two hours? Delagio can offer 24/7/365 support to clients, ensuring that someone is always on hand to get your service up and running as quickly as possible.</p>
                </section>
            </div>
            <!--div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>PPC</h3>
                    <p>Do you have any Facebook adverts? Have you ever tried to promote your website through Google AdWords? At Delagio we have years of experience with online marketing, including pay per click campaigns. If you'd like to promote your brand and gain further exposure, we can help through the use of PPC.</p>
                </section>
            </div-->
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>SEO</h3>
                    <p>Search Engine Optimisation - we've all heard of this mysterious acronym. Do you know what it means? Are you able to increase your website ranking on Google? We have access to some of the industries leading tools to help propel your website up the search engine rankings to drive more traffic to your website.</p>
                </section>
            </div>
        </div>

    </div>
</section>


<section id="two" class="wrapper style2">
    <header class="major">
        <h2>Case Studies</h2>
        <p>Our clients love what we do.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/tclick.png" alt="" /></a>
                    <h3>TargetClick</h3>
                    <p>TargetClick run a number of high quality affiliate networks. They asked Delagio to improve their technology, and at the same time implement latest development practices to help the business grow.</p>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="/dist/images/easyjet3.png" alt="" /></a>
                    <h3>EasyJet</h3>
                    <p>EasyJet is a well known brand and they required a custom datafeed system to allow them to distribute their five million holiday packages across to their partners. They now have a nightly distribution.</p>
                </section>
            </div>
        </div>
    </div>
</section>


<section id="three" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <h2>Industry news</h2>
                    <a href="#" class="image fit"><img src="/dist/images/pic03.jpg" alt="" /></a>
                    <h2>Amazon Goes Into the Handyman Business</h2>
                    <p>Amazon is testing the local services waters by connecting customers with professionals who can assemble, set up, install and repair home appliances. Initially limited to three metropolitan areas, Amazon plans to expand both the geography and the variety of its local services in the future. This could be a boon for SMBs -- or they could find themselves firmly under Amazon's thumb. <a rel="nofollow" href="http://www.ecommercetimes.com/story/Amazon-Goes-Into-the-Handyman-Business-81417.html">Read More</a></p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <h3>SEO Services</h3>
                    <p>Delagio can analyse your website and suggest improvements to help you rank higher. Maybe you would like to try out Google Adwords or run a Facebook campaign? Let us know as we can help in all aspects of PPC activity.</p>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Contact Us</a></li>
                    </ul>
                </section>
                <hr />
                <section>
                    <h3>Recent Articles</h3>
                    <ul class="alt">
                        <li>Coming Soon!</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')