@@include('./_head.html', {
    "title": "Home",
    "name": "index"
})

<section id="banner">
    <div class="inner">
        <h2>INNOVATIVE, BESPOKE &amp; DILIGENT HR SOLUTIONS</h2>
        <p>We show you how it's done.</p>
        <ul class="actions">
            <li><a href="/contact.html" class="button big special">Get Quote</a></li>
            <li><a href="/about.html" class="button big alt">Learn More</a></li>
        </ul>
    </div>
</section>


<a name="services" ></a>
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Welcome to WhiteTree HR Consultancy</h2>
        <p>To solve your HR problems.</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>Operational HR</h3>
                    <p>Assisting businesses with the day to day management of their HR. Including, Employment Law, Absence Management, Policies and Procedure, HR Documentation, HR Systems, Employee Relations, Recruitment, Redundancy, Performance and Appraisals, Employee Relations.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>Strategic HR</h3>
                    <p>Working with businesses on Talent Management, Reward Management, Employee Engagement and Retention, Organisational Structure, Acquisitions and Mergers including TUPE.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-cog major"></i>
                    <h3>Project HR</h3>
                    <p>Collaborating with businesses on HR projects within their organisations, working with you from concept to completion. DVO HR can also review projects, analyse and improve existing projects or aid development of ongoing projects within the business.</p>
                </section>
            </div>
        </div>
        

        <div class="row">
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>
                    <h3>HR Administration</h3>
                    <p>We are HR Administration experts. We can work with your business to alleviate this time consuming, yet integral part of HR so that your time is freed to focus on business essentials without having the worry of everyday necessities.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <i class="icon fa-refresh major"></i>
                    <h3>HR Systems and Data Analytics</h3>
                    <p>We are specialists in HR Software and the management of all of your employee data as well as HRIS Management and Employee Self portals. We meet ‘best practice’ and current employment legislation standards. We pride ourselves at being at the forefront of technology in this area. We are able to help with all of your Management Information, Key Performance Indicators and data analysis needs.</p>
                </section>
            </div>
        </div>

    </div>
</section>





<section id="three" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="8u">
                <section>
                    <h2>Industry news</h2>
                    <a href="#" class="image fit"><img src="/dist/images/pic03.jpg" alt="" /></a>
                    <h2>HMRC Tax Laws</h2>
                    <p>HMRC have changed some tax laws.</p>
                </section>
            </div>
            <div class="4u">
                <section>
                    <h3>HR Help</h3>
                    <p>WhiteTree HR can help with any HR requirement. Just get in touch!</p>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Contact Us</a></li>
                    </ul>
                </section>
                <hr />
                <section>
                    <h3>Recent Articles</h3>
                    <ul class="alt">
                        <li>Coming Soon!</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')