@@include('./_head.html', {
    "title": "Jobs",
    "name": "jobs"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Jobs / Availability</h2>
        <p>We're currently recruiting. Are you looking?</p>
    </header>
    <!--div class="container">
        <section>
            <h2>Senior Developer</h2>

            <p>Delagio is a Software Development Consultancy based in Nottingham, offering bespoke development of web applications using the latest technologies. We are an innovative, forward thinking business implementing best development practices in addition to being an AWS Consulting partner, offering Scalable Cloud Solutions. Due to organic growth within the business, we are seeking an experienced Senior Developer to join our existing development team.</p>

            <h4>The Role:</h4>

            <p>We're seeking a hard-working, enthusiastic Senior Developer who is looking to demonstrate their abilities and implement great solutions for our clients. You should also have great social skills to give technical advice where necessary and participate in our regular knowledge sharing sessions. This role is ideal for developers with 5+ years commercial experience.</p>

            <p>We have a number of clients using various technologies; whilst the majority is PHP based, there's plenty of Perl and Bash scripts across the projects to play with. We're using Ansible and Vagrant for our development environment, and you'll get a choice of hardware to use (most of us use Macs!). In the development team you'll be working with a variety of platforms such as Magento, SugarCRM &amp; Wordpress - as well some older, bespoke systems. The frameworks used are mainly Zend, but there's a mixture of CodeIgniter, CakePHP, Symfony2 &amp; Silex - so strong experience in any of the above is desirable.</p>

            <p>We require you to have a solid amount of experience coding websites with PHP, working with e-commerce platforms, CMS systems, API integrations and connecting 3rd party systems. You will need to possess strong Linux/OSX skills - any knowledge with Amazon Web Services will be a distinct advantage.</p>

            <p>If you have experience with large database driven systems and mobile development it will go a long way to demonstrate your suitability for the role. Having the ability to create great frontend systems using build tools such as Grunt &amp; Gulp, as well as Javascript libraries such as AngularJS, ReactJS &amp; KnockoutJS will all be very welcome. There are also a few systems which use RabbitMQ/AMQP and MongoDB.</p>

            <p>The ideal candidate will be eager to continue learning and keep up to date with emerging technologies. We're big fans of unit testing and continuous integration via Jenkins as we believe in fast iterative development.</p>

            <h4>Required Skills:</h4>

            <ul>
            <li>PHP5</li>
            <li>MySQL</li>
            <li>Linux/CentOS</li>
            <li>Apache/Nginx</li>
            <li>Frameworks (Zend Framework / Silex)</li>
            <li>Git</li>
            <li>jQuery</li>
            <li>Unit Testing (PHPUnit)</li>
            </ul>


            <h4>Desirable:</h4>

            <ul>
            <li>RabbitMQ / Beanstalkd</li>
	    <li>NoSQL</li>	
            <li>Amazon RDS</li>
            <li>Amazon EC2</li>
            <li>Behat / BDD</li>
	    <li>Vagrant</li>
            <li>Zend Certified Engineer</li>
            <li>AWS Certified Developer</li>
            </ul>


            <p>Renumeration &amp; Benefits:</p>

            <ul>
            <li>Starting salary of £35-50k (DOE)</li>
            <li>25 days holiday</li>
            <li>Flexible working hours</li>
            <li>Opportunities for further career development and progression</li>
            <li>Training &amp; Development</li>
            <li>Monthly knowledge sharing event</li>
            <li>Social Events</li>
            <li>Annual Conferences (e.g. PHP UK, PHPNW)</li>
            </ul>


            <p>If you think you're the right candidate for the role, we would love to hear from you. Please email Bobby DeVeaux and attach your CV (bobby@delag.io)</p>
        </section>

    </div-->
</section>


@@include('./_foot.html')
