@@include('./_head.html', {
    "title": "Packages",
    "name": "packages"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Packages</h2>
        <p>What can you buy?</p>
    </header>
    <div class="container">
        <section>
            <h2>Packages</h2>
            <p>
                We offer a free consultation to discuss your HR requirements.. We will be with you, communicate, guide and support you through the entirety of our working relationshp. 
            </p>
            <p>
                We offer our HR services via the following packages: 
            </p>
            <ul class="alt">
                <li>Hourly Rate. This can be bought in blocks of 4. Discount for multiple blocks purchased</li>
                <li>Daily Rate. Available Onsite or Remotely. Prices vary depending on requirements. </li>
                <li>Pay as you go rates on an hourly basis </li>
                <li>Projects – Fees based on estimate of whole project length </li>
                <li>Packages – All standard policies and procedures for your Handbook to comply with </li>employment Legislation as well as a copy of standard terms and conditions for your employees. These will be reviewed and maintained and updated when any new employment legislation is released </li>
                <li>Monthly Management Information Reporting packages. </li>
                <li>Ad hoc – if you have any requirement which you don’t think fits into the above, please contact us and we will be happy to accommodate. </li>
            </ul>
        </section>
    </div>
</section>


@@include('./_foot.html')