@@include('./_head.html', {
    "title": "Services",
    "name": "services"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Services</h2>
        <p>What do we offer?</p>
    </header>
    <div class="container">
        <section>
            <h2>Services</h2>

            <p>WhiteTree HR offer a range of services to compliment your business. Whether you want to ensure you are legally compliant, streamline your processes, develop your strategic HR, or need advice and assistance with your every day operational HR, White Tree HR is here for you. We will work with you to allow your business to thrive and develop. 
            </p>
        </section>
        <hr class="major" />
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>Operational HR</h3>
                    <ul class="alt">
                        <li>Employee Handbook</li>
                        <li>Absence Management</li>
                        <li>HR Documentation</li>
                        <li>Employee Relations</li>
                        <li>Redundandies</li>
                        <li>Performance Appraisals</li>
                        <li>Policies and Procedures</li>
                        <li>Terms and Conditions and employee contracts</li>
                        <li>Employee Engagement</li>
                        <li>Recruitment and Resourcing</li>
                        <li>Flexible Working</li>
                        <li>Reward Management</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>Strategic HR</h3>
                    <ul class="alt">
                        <li>Talent management </li>
                        <li>Mergers and Acquisitions (Inc. TUPE)</li>
                        <li>Management Training</li>
                        <li>Organisational Structure</li>
                        <li>Redundancy</li>
                        <li>Employee engagement</li>
                        <li>Management Development</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>HR Data Analysis and HR Systems</h3>
                    <ul class="alt">
                        <li>Employee Information Management and Storage</li>
                        <li>Key Performance Indicators (KPI’s)</li>
                        <li>Management Information (MI)</li>
                        <li>Data Analysis and Reporting</li>
                        <li>Weekly, Monthly, Quarterly, annual reporting packages </li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>HR Administration</h3>
                    <ul class="alt">
                        <li>Policies and procedures  </li>
                        <li>Employee Handbook</li>
                        <li>Data entry</li>
                        <li>Letters</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>Project HR</h3>
                    <p>Here at WhiteTree HR we pride ourselves on being diligent and innovative whilst creating bespoke solutions. We are perfectly positioned to collaborate with businesses on HR projects within their organisations, working with you from concept to completion. Whatever your requirements we are here to support your business. We can provide advice, guidance, reports, reviews or complete projects for you. Contact us today to discuss how we can help you.</p>
                    <ul class="alt">
                        <li>Create bespoke HR projects</li>
                        <li>Aid businesses in completion of projects</li>
                        <li>Review existing projects, analyse and improve existing projects or compliment the development of ongoing projects within the business.</li>
                        <li>Project integration</li>
                        <li>Project documentation </li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>HR Healthcheck</h3>
                    <p>WhiteTree HR can provide you with a HR Health check which is an independent, objective, impartial review of your policies and procedures. This enables you to highlight and mitigate any risk, reduce cost, improve and drive performance through your people, ultimately adding value to your organisation. Taking into account the complexities of employment legislation as well as government updates, we will review and assess your current policies and procedures and report back to you clearly highlighting any areas of improvement, potential exposure, legal compliance and actions you can take. Our approach is always bespoke to fit the needs of your dynamic business and we tailor our solutions packages allowing you to pick and mix to meet your exact requirements.</p>
                    <ul class="alt">
                        <li>Our free HR Healthcheck provides an initial guide to where you are with your HR requirements</li>
                        <li>Further to this we can ensure that you are up to date with current employment legislation and are legally compliant with a review of your current policies and procedures with a clear and detailed report of recommendations </li>
                        <li>Policies, procedures, terms and conditions along with employee handbooks are available from WhiteTreeHR </li>
                        <li>Annual updates as and when changes come into place via the government along with any changes in employment legislations to ensure that you stay compliant </li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>HR Information Systems</h3>
                    <p>We here WhiteTree HR are specialists in HR Software and the management of all of your employee data as well as HRIS Management, Employee Self portals and HR Databases. We meet ‘best practice’ and current employment legislation standards. We pride ourselves at being at the forefront of technology in this area. We are able to help with all of your systems and data needs</p>
                    <ul class="alt">
                        <li>Employee Information Management and Storage</li>
                        <li>Key Performance Indicators (KPI’s)</li>
                        <li>Management Information (MI)</li>
                        <li>Data Analysis and Reporting</li>
                        <li>Weekly, Monthly, Quarterly, annual reporting packages </li>
                        <li>HRIS (HR information systems) and databases</li>
                        <li>Employee self service portals</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>HR Administration</h3>
                    <p>Being HR Administration experts here at WhiteTree HR we can work with your business to alleviate this time consuming, yet integral part of HR so that your time is freed to focus on business essentials without having the worry of everyday necessities.</p>
                    <ul class="alt">
                        <li>Policies and procedures  </li>
                        <li>Employee Handbook</li>
                        <li>Terms and conditions and contracts of employment </li>
                        <li>HR Communications</li>
                        <li>Data entry</li>
                        <li>Recruitment administration</li>
                        <li>Employee data storage</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')