@@include('./_head.html', {
    "title": "Services",
    "name": "services"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Services</h2>
        <p>What do we offer?</p>
    </header>
    <div class="container">
        <section>
            <h2>Services</h2>

            <p>WhiteTree HR offer a range of services to compliment your business. Whether you want to ensure you are legally compliant, streamline your processes, develop your strategic HR, or need advice and assistance with your every day operational HR, White Tree HR is here for you. We will work with you to allow your business to thrive and develop. 
            </p>
        </section>
        <hr class="major" />
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>Operational HR</h3>
                    <ul>
                        <li>Employee Handbook</li>
                        <li>Policies and Procedures</li>
                        <li>Terms and Conditions and employee contracts</li>
                        <li>Absence Management</li>
                        <li>Disciplinary and Grievance</li>
                        <li>Recruitment and Resourcing</li>
                        <li>Reward Management</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>Strategic HR</h3>
                    <ul>
                        <li>Talent management </li>
                        <li>Mergers and Acquisitions (Inc. TUPE)</li>
                        <li>Management Training</li>
                        <li>Organisational Structure</li>
                        <li>Redundancy</li>
                        <li>Employee engagement</li>
                        <li>Management Development</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <h3>HR Data Analysis and HR Systems</h3>
                    <ul>
                        <li>Employee Information Management and Storage</li>
                        <li>Key Performance Indicators (KPI’s)</li>
                        <li>Management Information (MI)</li>
                        <li>Data Analysis and Reporting</li>
                        <li>Weekly, Monthly, Quarterly, annual reporting packages </li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <h3>HR Administration</h3>
                    <ul>
                        <li>Policies and procedures  </li>
                        <li>Employee Handbook</li>
                        <li>Data entry</li>
                        <li>Letters</li>
                    </ul>
                    <ul class="actions">
                        <li><a href="/contact.html" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>


@@include('./_foot.html')