@@include('./_head.html', {
    "title": "Meet The Team",
    "name": "jobs"
})

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Our Team</h2>
        <p>Meet us all!</p>
    </header>
    <div class="container">
        <section>
            <div class="teamphoto">
                <img src="/dist/images/bobby.jpg" />
            </div>
            <h2>BOBBY DEVEAUX - DIRECTOR</h2>

            <p>Bobby is a Certified ScrumMaster and Zend Certified PHP Engineer, making his first website at the ripe old age of 9, teaching himself HTML in the process. Over his career he has established himself as an Enterprise Developer, dealing largely with Open Source technology.</p>
            <p>Now running Delagio, Bobby is busy finding work, networking, writing proposals, and sending out quotes. Occasionally he'll be found writing some code, usually late at night for fun, instead of at the gym where he should be.</p>


        </section>
        <hr class="major" />
        <section>
            <div class="teamphoto">
                <img src="/dist/images/stephanie.jpg" />
            </div>
            <h2>STEPHANIE DEVEAUX - DIRECTOR</h2>

            <p>Stephanie is one of Delagio's joint directors and is CIPD qualified in HR Management, with the majority of her career being specialised in this field. She has worked for a number of diverse companies, including working and living in Sydney, Australia for a year. </p>

            <p>She enjoys all aspects of Business Management and focuses on a number of areas within Delagio including; Marketing, Finance, HR, Sales, Business Development, Customer Development and Relations as well as managing our busy office.</p>

            <p>Born and raised in Wiltshire, Stephanie is a country bumpkin at heart and enjoys lots of country walks with her and Bobby's daughter Penelope and the DeVeaux family's Labrador Retriever, Bella. She also loves travelling, socialising with friends and family, music and is a bit of a TV series addict! </p>

        </section>
        


    </div>
</section>

@@include('./_foot.html')